body{

background-color:#;

margin-left: auto;
margin-right: auto;
font-family: Verdana;
font-size: 14px;
width: 75%;
}


#header{ 

background-color: #;
margin: 42px auto 0px auto;
height: 60px;
border-radius: 0px;

}

#input{
	
	width: 40%;
	height: 300px;
	margin: 50px auto 100px auto;
	border: 2px solid #cecece;
	padding: 20px;
	
}

#input input[type='text']{
	
	height: 30px;
	border-radius: 5px;
	width:75%;
	padding: 3px;
	margin-top: 70px;
	margin-bottom: 40px;
	border: 2px solid #cecece;
}
#input input[type='password']{
	
	height: 30px;
	border-radius: 5px;
	width:75%;
	padding: 3px;
	margin-bottom: 20px;
	border: 2px solid #cecece;
}


#input .btm{
	
	background: #D4DBEE;
  border: 1px solid #cecece;
  border-radius: 3px;
  color: #444;
  display: block;
  float: right;
  font-size: 20px;
  height: 28px;
  margin-right: 9px;
  text-align: center;
  width: 100px;
  margin-top: 17px;
  
	
	
}

#footer{

background-color: #;
margin: 10px;
height: 10px;
border-radius: 5px;
clear: both;

color: #efe5d0;
text-align: center;
padding: 15px;
font-size: 90%; 

}
h1,h2{

font-size: 120%;
color: #ce282e;

}

h3{

font-size: 250%;
text-align: center;
color: #8C8C8C;
font-family: "Century Gothic";
margin: 10px;

position: relative;
 top:50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);

}

.error {
	
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	color:#ED1C24;
	
	
}

